useDynLib(rDotNet,.registration = TRUE)
export(.cinit,.cnew, .ccall, .ctor, .cstatic, .cget, .cset,"$.rDotNet", "[.rDotNet", print.rDotNet)
S3method("$", rDotNet)
S3method("[", rDotNet)
S3method(print, rDotNet)

importFrom(Rcpp, evalCpp)
importFrom(testthat, test_check)
